@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.parent_container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_effect{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}
.card_effect_2{
  box-shadow: 0 4px 8px 0 rgba(243, 8, 8, 0.2);
  transition: 0.3s;
}

.form_container{
  max-width: 30rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 1rem;
}

.username_input{
  width: 100%;
  height: 2rem;
  background-color: #c4c5c61d;
  color: black;
  border: 4px ridge;
  outline: none;
  padding: 10px;
}

.form_join_button{
  width: 60%;
  padding: 5px;
  cursor: pointer;
  background-color: black;
  color: white;
  outline: none;
  border: 4px ridge;
}
.home_header{
  font-weight: 900;
  font-style: oblique;
}
.founder_name > a{
  text-decoration: none;
  outline: none;
  color: rgb(5, 12, 75);
}
.chat_sidebar{
  height: 100%;
  color: black;
  background-color: white;
  flex: 0.2;
  border-right: 2px outset rgba(0, 0, 0, 0.685);
  padding: 1rem;
}
.online_users{
  word-wrap: break-word;
  margin-top: 1rem;
  display:  flex;
  justify-content: flex-start;
  gap: 1rem;
  flex-direction: column;
  padding: 0.5rem;
  max-height: 20rem;
  max-width: 100%;
  overflow-y:scroll; 
}
.current_users{
  position: sticky;
  top: 0;
  background-color: white;
  backdrop-filter: blur(20rem);
}
.chat_users{
  color: black;
  list-style: none;
  font-size: 0.825rem;
  font-weight: bold;
}

.online_users::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.online_users {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.chat__mainHeader {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}
.leaveChat__btn {
  padding: 0.5rem;
  border-radius: 4px ridge;
  outline: none;
  background-color: black;
  cursor: pointer;
  color: #ffffff;
}
.leaveChat__btn:hover {
  background-color: rgb(180, 42, 42);
  
}
.chat {
  width: 100%;
  height: 100vh;
  display: flex;
}
.chat__main {
  height: 100vh;
  flex: 0.8;
}

.active_mobile_ui{
  display: none;
}

.message__container {
  width: 100%;
  height: calc(100vh - 22vh);
  background-color: #fff;
  padding: 20px;
  overflow-y: scroll;
}

.message__container > * {
  margin-bottom: 10px;
}
.chat__footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
  height: 10vh;
  align-items: center;

}
.form {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.message_send_field {
  width: 80%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
  padding: 15px;
  font-weight: 500;
}
.sendBtn {
  width: 6.046rem;
  background-color: #030f21;
  padding: 0.5rem;
  border-radius: 4px ridge;
  outline: none;
  color: #ffffff;
  cursor: pointer;
}
.sendBtn:hover {
  background-color: rgb(9, 102, 9);
}
.message__recipient {
  background: linear-gradient(270deg, rgb(93, 55, 169) 0%, rgb(43, 160, 140) 100%);
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
  word-wrap: break-word;
  color: white;
}
.message__sender {
  /* background-color: rgb(10, 85, 90); */
  background: linear-gradient(270deg, rgb(101, 130, 194) 0%, hsla(220, 78%, 29%, 1) 100%);
  max-width: 300px;
  padding: 10px;
  border-radius: 10px;
  margin-left: auto;
  word-wrap: break-word;
  font-size: 15px;
  font-weight: 500;
  color: white;
}
.message__chats > p {
  font-size: 13px;
  font-weight: 300;
}
.sender__name {
  text-align: right;
}
.message__status {
  position: fixed;
  bottom: 50px;
  font-size: 13px;
  font-style: italic;
}

/* media queries from here  */

@media screen and (max-width : 780px){
  .active_mobile_ui{
    display: block;
    background-color: transparent;
    outline: none;
    padding: 0.2rem;
  }
  
  .chat__mainHeader{
  gap: 1rem; 
  }
  .chat__main{
    flex: 1;
  }
  .chat_sidebar{
    display: none;
  }
  .form{
  gap: 2rem;
  }
  .leaveChat__btn{
    padding: 0.2rem;
  }
  .sendBtn{
    padding: 0.2rem;
  }
}

